body {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 400px;
}

.row div {
  flex: 1;
  /*height: 50px;*/
  border: 1px solid black;
}

input {
  height: 100px;
  /*width: 100px;*/
}
