
section > form {
  display: flex;
  flex-direction: column;
}

form > div {
  margin: 10px;
  display: flex;
}

.visible-warning {
  visibility: visible;
}

h3 {
  height: 20px;
  flex: 2;
}

div > input {
  flex: 4;
  height: 20px;
  margin: 10px;
  margin-left: 50px;
}

p {
  flex: 2;
  visibility: hidden;
  color: #cccc00;
  padding-left: 10px;
  height: 20px;
  margin: 10px;
}

form > input {
  width: 100px;
}

.invalid {
  background-color: yellow;
}

.successful {
  color: green;
}

.unsuccessful {
  color: red;
}
