
.row {
  display: flex;
  border: 1px solid black;
  margin: 20px;
  padding: 5px;
  justify-content: space-between;
}

.first-row-item {
  flex: 1;
  margin: 5px;
  height: 78px;
  border: 1px solid black;
}

.second-row-item1 {
  flex: 4;
  margin: 5px;
  height: 78px;
  border: 1px solid black;
}

.second-row-item2 {
  flex: 1;
  margin: 5px;
  height: 78px;
  border: 1px solid black;
}

.third-row-item {
  margin: 5px;
  height: 78px;
  width: 90px;
  border: 1px solid black;
}
