<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Book Stats</title>
  </head>
  <body>
    <form action="{% url 'json' %}" method="get">
      {% csrf_token %}
      <label>What word do you want to search for?<input type="text" name="word">
      </label>
      <button type="submit">Search</button>
    </form>
    <ul>
    </ul>
      <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
      <script src="{% static 'bookstats/ajax_csrf_setup.js' %}"></script>
      <script src="{% static 'bookstats/main.js' %}"></script>
  </body>
</html>
